@font-face {
  font-family: "GameFont";
  src: url("../src/assets/PressStart2P-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "PokeFont";
  src: url("../src/assets/Pokemon Solid.ttf");
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-image: url("./assets/sunny-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

body {
  cursor: url("./assets/cursor-pointer.png"), auto;
}
