.difficulty-selector,
.game-over,
.game-win {
  background-color: white;
  border: 40px solid transparent;
  border-image-source: url("../assets/dialog-box.png");
  border-image-slice: 100 fill;
  border-image-repeat: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  min-height: 30vh;
  height: automatic;
  padding: 10px;
  gap: 10px;
}

.difficulty-choices-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h3 {
  font-family: "GameFont";
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin: 0;
  text-shadow: -3px 3px 0 #3466af;
  color: #ffcb05;
  text-transform: uppercase;
}

label,
.game-over h4,
.game-win h4 {
  font-family: "GameFont";
  font-size: clamp(1rem, 5vw, 1.3rem);
  cursor: url(../assets/cursor.png), pointer;
  margin-bottom: 5px;
  margin-left: clamp(0px, 5vw, 40px);
}

.difficulty-choices {
  -webkit-appearance: none;
  display: none;
}

.choice-indicator {
  visibility: hidden;
  margin-right: 5px;
}

.difficulty-choices:checked + .choice-indicator {
  visibility: visible;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.start-game,
.reset-game,
.toggleMusic {
  position: relative;
  font-family: "GameFont";
  width: 50%;
  margin: 0 auto;
  background-color: #e31e1e;
  transform-style: preserve-3d;
  border: 2px solid #500303;
  transition: 0.3s ease;
  color: white;
  text-transform: uppercase;
  cursor: url(../assets/cursor.png), pointer;
}

.start-game::before,
.reset-game::before,
.toggleMusic::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #ab0d0d;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transform: translate3d(0, 0.75em, -1em);
  z-index: 0;
  box-shadow:
    0 0 0 1.7px #500303,
    0 10px 0 #ee5d5d42;
  transition: 0.3s ease;
}

.start-game:hover,
.reset-game:hover,
.toggleMusic:hover {
  background-color: #ed4646;
  outline: none;
  border-color: #500303;
}

.start-game:active,
.reset-game:active,
.toggleMusic:active {
  background-color: #f68d8d;
  transform: translate(0, 0.75em);
}

.start-game:active::before,
.reset-game:active::before,
.toggleMusic:active::before {
  box-shadow:
    0 0 0 2px #b18597,
    0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
  outline: none;
}

.game-over h4,
.game-win h4 {
  margin: 0;
}

@media (max-width: 768px) {
  .difficulty-selector,
  .game-over,
  .game-win {
    width: 60vw;
    height: 50vh;
    padding: 10px;
  }

  .start-game,
  .reset-game {
    width: 80%;
    margin-bottom: 30px;
  }
}
