.difficulty-selector {
  background-color: white;
  border: 40px solid transparent;
  border-image-source: url("../assets/dialog-box.png");
  border-image-slice: 200 fill;
  border-image-repeat: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  height: 30vh;
  padding: 10px;
}

.difficulty-choices-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h3 {
  font-family: "GameFont";
  font-size: 2rem;
  margin: 0;
  text-shadow: -3px 3px 0 #3466af;
  color: #ffcb05;
  text-transform: uppercase;
}

label {
  font-family: "GameFont";
  font-size: 1.2rem;
  cursor: url(../assets/cursor.png), pointer;
  margin-bottom: 5px;
  margin-left: 40px;
}

.difficulty-choices {
  -webkit-appearance: none;
  display: none;
}

.choice-indicator {
  visibility: hidden;
  margin-right: 5px;
}

.difficulty-choices:checked + .choice-indicator {
  visibility: visible;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.start-game {
  position: relative;
  font-family: "GameFont";
  width: 50%;
  margin: 0 auto;
  background-color: #e31e1e;
  transform-style: preserve-3d;
  border: 2px solid #500303;
  transition: 0.3s ease;
  color: white;
  text-transform: uppercase;
  cursor: url(../assets/cursor.png), pointer;
}

.start-game::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #ab0d0d;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transform: translate3d(0, 0.75em, -1em);
  z-index: 0;
  box-shadow: 0 0 0 1.7px #500303, 0 10px 0 #ee5d5d42;
  transition: 0.3s ease;
}

.start-game:hover {
  background-color: #ed4646;
  outline: none;
  border-color: #500303;
}

.start-game:active {
  background-color: #f68d8d;
  transform: translate(0, 0.75em);
}

.start-game:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
  outline: none;
}
