.toggleMusic {
  position: fixed;
  z-index: 10;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50%;
  top: 20px;
  right: 20px;

  img {
    width: 40px;
    height: 40px;
    border: none;
    margin: 0;
  }
}
